body{
    font-family: sans-serif;
    min-height: 100%;
}

.nick{
    min-width: 160px;
}

/* INDEX FILE */
    .carouselimage{
        height: 85vh;
    }

    .section{
        min-height: 99vh;
    }

    #events{

    }

    .row{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .card{
        max-width: 280px;
        max-height: 415px;
        min-width: 280px;
        min-height: 415px;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: white;
    }

    #interprets{

    }

    #are_u_organizer{
        min-height: 50vh;
    }

    #partners{
        min-height: 50vh;
    }

    footer{
        min-height: 20vh;
    }


/* FILE */
    .form-group{
        margin-bottom: 10px;
    }

    .fullscreen-container{
        min-height: 75vh;
        background-color: lightgray;
    }

    .my_dropdownitem{
        color: white;
    }

    .my_dropdownitem:active{
        color: black;
    }

    @media only screen and (max-height: 600px)
    {
        .mynavbar
        {
            overflow: auto;
            max-height: 100vh;
        }
    }

