body{
    font-family: 'Montserrat',sans-serif;
    min-height: 100%;
}

.nick{
    min-width: 160px;
}

.card{
    width: 100%;
}

.event-btn
{
    margin-left: 10px;
    margin-right: 10px;
}


/* INDEX FILE */
    .carouselimage{
        height: 85vh;
    }

    .section{
        min-height: 99vh;
    }

    .row{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .card-index{
        max-width: 280px;
        max-height: 415px;
        min-width: 280px;
        min-height: 415px;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: white;
    }

    #are_u_organizer{
        min-height: 50vh;
    }

    #partners{
        min-height: 50vh;
    }

    footer{
        min-height: 20vh;
    }


/* FILE */
    .form-group{
        margin-bottom: 10px;
    }

    .fullscreen-container{
        min-height: 75vh;
        background-color: lightgray;
    }

    .wider-container{
        min-width: 80%;
    }

    .my_dropdownitem{
        color: white;
    }

    .my_dropdownitem:active{
        color: black;
    }

    @media only screen and (max-height: 600px)
    {
        .mynavbar
        {
            overflow: auto;
            max-height: 100vh;
        }
    }


.search
{
    max-width: 215px;
}

    .abtn{
        text-decoration: none;
        color: black;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        margin: 10px 0 0 0;
        table-layout: fixed;
      }
      table td, table th {
        height: 40px;
        max-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;
        padding: 10px;
      }
      
      table tr:hover {
        background-color: white;
        overflow: visible;
        white-space: nowrap;
      }
      
      tr > td:hover {
          overflow: visible;
          white-space: unset;
          background-color: solid;
      }